
 .description_titre{
	 color: #baa25a;
	 font-family:"Brandon";
	 
 }
 
 .titre_gen
 {
	 color: #baa25a;
	 font-family:"Aileron";
 }
 
 ul{
	 list-style:none;
 }
 
 #slideshow figcaption {
	 color:#f08307;
 }
 

 