body
{
	font-family:"Brandon";
	color:#434343;
}

article
{
	margin-top:100px;
}

.creation_client{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	border-radius:5px;
	background-color:#f2f2f2;
	
}


